# ==============================
# 🔐 Секреты и конфиденциальные файлы
# ==============================
*.env
*.pem
*.key
config.yaml
config.yml
secrets.json
authorized_key.json

# ==============================
# 💾 Базы данных и логи
# ==============================
*.db
*.sqlite
*.log

# ==============================
# ⚙️ Системные и временные файлы
# ==============================
__pycache__/
*.pyc
.DS_Store

# ==============================
# 🧱 Terraform
# ==============================
# Служебные каталоги
.terraform/
**/.terraform/

# Файлы блокировок и состояния
*.tfstate
*.tfstate.*

# Личные переменные и секреты
personal.auto.tfvars

# Разрешаем локальный конфиг Terraform
!.terraformrc

# Файл блокировки зависимостей
.terraform.lock.hcl

# Файл значений входных переменных
# terraform.tfvars

# Прочее
env/
src/
terraform/work


